// Group selector//
%color-text
  color: #fff
$basic_color: #202020
$basic_font:  17px
$basic_style: normal
$basic_font_p: 15px
$basic_color_span:#1EACC7
$basic_line-height:21px
$basic_family:Roboto
$basic_weight_span:400
$basic_weight_p:300

=btn
  font:
    style: normal
    weight: 400
  display: block
  border-radius: 4px
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset
  text-decoration: none
  flex-shrink: 0
  padding: 0 7px
  text-transform: uppercase
%span
  line-height: $basic_line-height
  font-style: $basic_style
  font-family: $basic_family
  font-weight: $basic_weight_span
%main_p
  line-height: $basic_line-height
  font-style: $basic_style
  font-family: $basic_family
  font-weight: $basic_weight_p
%mobil
  color: #222
  text-align: center
  font-size: 37px
  font-style: normal
  font-weight: 700
  line-height: 48px /* 126.316% */
  text-transform: uppercase

%main_span
  color: #FFF
  text-align: center
  font-size: 11px
  font-style: normal
  font-weight: 400
  line-height: 11px /* 100% */
  text-transform: uppercase

%main_article
  margin-top: 26px
  margin-bottom: 33px
  width: 113px
  height: 23px
  background: #202020




// Header//
header
  background: url("../img/uber_bg.png")
    position: 50% 50%
    size: cover
  height: 799px

.header-nav

  background: #212121

  .navbar
    padding: 20px 0
    justify-content: end
  .bg-light
    background: #212121!important
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
    color: snow
  .navbar-light .navbar-nav .nav-link
    font:
     family: Roboto
     size: 15px
     style: normal
     weight: 300
    line-height: 15px
    @extend %color-text

.header-info
  .header-info__section

    height: 80px
  background: rgba(1, 1, 1, 16.1%)

  .block__elem1__span
    font:
      family: Roboto
      size: 13px
      style: normal
      weight: 100
    @extend %color-text
  .block__elem2__span
    font:
      family: Roboto
      size: 12px
      style: normal
      weight: 300
    line-height: 14px
    @extend %color-text

  .block__elem2__number
    font:
      family: Roboto
      size: 22px
      style: normal
      weight: 400

    /* 309.091% */
    text-transform: uppercase
    @extend %color-text

  .block__elem3__a
    +btn
    @extend %color-text
    height: 46px
    font:
      size: 14px
    line-height: 46px
/* 328.571% */
.header-logo
  &__h1
    margin-top: 53px
    margin-bottom: 25px
    font:
      family: Roboto
      size: 60px
      style: normal
      weight: 900
    line-height: 40px
    text-transform: uppercase
    @extend %color-text

  &__h2
    margin-bottom: 28px
    font:
      family: Roboto
      size: 36px
      style: normal
      weight: 700
    height: 48px
    text-transform: uppercase
    @extend %color-text

  &__p_text
    margin-bottom: 36px
    font:
      family: Roboto
      size: 18px
      style: normal
      weight: 400
    line-height: 24px
    @extend %color-text

  &__info
    margin-bottom: 100px
    font:
      family: Roboto
      size: 18px
      style: normal
      weight: 400
    line-height: 24px
    @extend %color-text

  &__a
    +btn
    @extend %color-text
    width: 259px
    height: 63px
    font:
      size: 18px
    line-height: 63px
// Main//
main
 .main_span
   margin: 0
   @extend %main_span
 .main_h2
    margin-bottom: 27px
    @extend %mobil
 .main_block
   .main_block_article1
     @extend %main_article
   .main_block_figure_elem1
     background: url("../img/Эллипс.png")
       position: center
       repeat: no-repeat
       size: contain
   .main_block_figure_elem2
     background: url("../img/Эллипс (0).png")
       position: center
       repeat: no-repeat
       size: contain

   .picture
     height: 116px
     width: 116px
     margin-right: 24px
   &__span
     color: $basic_color_span
     font-size: $basic_font
     @extend %span
   &__p
     color: #202020
     font-size: $basic_font_p

     @extend %main_p


.main_uber-mobile-app
 .main_block_elem1
  .main_block_article2
    margin-top: 16px
    margin-bottom: 33px
    width: 113px
    height: 23px
    background: #202020
 .main_block_elem4
  background: url("../img/Карточка 1 (1).png")
    position: center
    repeat: no-repeat
    size: cover
  height: 280px
  margin: 19px
 .main_block_elem3
  background: url("../img/Карточка 1 (1).png")
    position: center
    repeat: no-repeat
    size: cover
  height: 280px
  margin: 19px
 .main_block_elem5
  background: url("../img/Карточка 3.png")
    position: center
    repeat: no-repeat
    size: cover
  height: 280px
  margin: 19px
 .main_block_elem6
  background: url("../img/Карточка 4.png")
    position: center
    repeat: no-repeat
    size: cover
  height: 280px
  margin: 19px
 .main_block_elem7
  background: url("../img/Карточка 5.png")
    position: center
    repeat: no-repeat
    size: cover
  height: 280px
  margin: 19px
 .main_block_elem8
  background: url("../img/Карточка 6.png")
    position: center
    repeat: no-repeat
    size: cover
  height: 280px
  margin: 19px
  img
    height: 29px
    width: 29px
h2
  color: #fff
  font:
    family: Roboto
    size: 24px
    style: normal
    weight: 400
  line-height: 31px /* 129.167% */
  text-transform: uppercase

.main_uber-mobile-app
  background: url("../img/mobile_bg (1).png")
.main_choice
  .main_choice_black
    background: url("../img/Темная подложка (1).png")
      position: 100%
      repeat: no-repeat
      size: cover
    height: 502px

  .main_choice_cell
    background: url("../img/Подложка (2).png")
      position: 100%
      repeat: no-repeat
      size: cover
    height: 397px

  .main_choice__figure
   background: url("../img/Автомобиль (1).png")
     position: 50% 50%
     repeat: no-repeat
     size: contain
   height: 480px
   width: 759px
   margin: 0
  .main_choice_elem1
    z-index: 12
    top: 54px
    .main_choice_article
      margin-bottom: 27px
      flex-direction: column
      justify-content: center
      background: #fff
      width: 115px
      height: 25px
    .main_choice_h4
      margin: 0
      color: #070716
      font:
       family: Roboto
       size: 11px
       style: normal
       weight: 400
      line-height: 11px /* 100% */
      text-transform: uppercase
    .main_choice_h2
      margin-bottom: 0
      color: #FFF
      font:
       family: Roboto
       size: 38px
       style: normal
       weight: 700
      line-height: 48px /* 126.316% */
      text-transform: uppercase
    .main_choice_p_elem1
      margin-top: 0
      margin-bottom: 50px
      color: #FFF
      font:
       family: Roboto
       size: 17px
       style: normal
       weight: 400
      line-height: 21px

.main_conditions
  .main_conditions__ul__elem1
    background: url("../img/check_blue 4.png") no-repeat 0 50%

  .main_conditions__ul__elem2
    background: url("../img/check_red 4.png") no-repeat 0 50%

  .main_conditions__h4
    font-size: 17px

.main_world
  background: url("../img/world_bg.png")
  height: 716px
  .main_world__section
    height: 716px
    .main_world__h2
      text-transform: uppercase
      font:
        weight: 700
        size: 38px
        style: normal
        family: Roboto
    .main_world__p
      color: #FFF
      font:
        family: Roboto
        size: 17px
        style: normal
        weight: 400
    .main_world__elem1
      margin-top: 50px
      margin-bottom: 25px
      width: 79px
      height: 27px
      background: #fff
      .main_world__h4
        font-size: 11px
  .main_world__elem2

    .main_world__h4
      color: #1FBAD6
      text-transform: uppercase
      font:
        family: Roboto
        size: 15px
        style: normal
        weight:  400
footer
  .footer_section__figure
    margin-top: 21px
  .footer_section_elem1
    top: 49px
    left: 24px
  .footer_section_elem2
    top: 49px
    right: 21px
    background: url("../img/Ссылки.png")
    width: 296px
    height: 27px


  .footer_section__figure
    background: url("../img/Разделитель (1).png")
    width: 300px
    height: 7px
  .footer_section__ul
    list-style-type: none
    .footer_section__ul__elem1__a
      color: #070716
      font:
        family: Roboto
        size: 15px
        style: normal
        weight: 300
      text-transform: uppercase
    .footer_section__ul__elem2__a
      color: #999
      font:
        family: Roboto
        size: 11px
        style: normal
        weight: 300
      text-transform: uppercase
    .footer_section__ul__elem3__a
      color: #1FBAD6
      font:
        family: Roboto
        size: 11px
        style: normal
        weight: 400
      text-transform: uppercase

@media only screen and (max-width: 1200px)
  .header-logo
    &__h1
      margin-bottom: 24px
      font:
        size: 44px
    &__h2
      margin-bottom: 17px
      font:
        size: 28px
    &__p_text
      margin-top: 12px
      margin-bottom: 25px
      font:
        size: 25px
    &__info
      margin-bottom: 25px
      font:
        size: 25px
@media only screen and (max-width: 992px)
  .header-nav
    .navbar-nav
      align-items: flex-end
  .header-info
    &__section
      display: flex
      justify-content: flex-end
    &__block__section
      flex-direction: column
      justify-content: flex-end
    .block__elem3
      justify-content: flex-end

    &__elem2__number
      font:
        size: 19px
    &__elem2__span
      font:
        size: 11px
    &__elem3__a
      font:
        size: 12px
    &__elem3
      justify-content: flex-end
      margin-bottom: 12px
      margin-top: 5px

  .header-logo
    .row
     display: flex
     justify-content: center
    &__h1
     margin-bottom: 34px
     font:
      size: 30px
    &__h2
     margin-bottom: 77px
     font:
      size: 20px
    &__p_text
     margin-top: 12px
     margin-bottom: 25px
     font:
      size: 15px
    &__info
      margin-bottom: 25px
      font:
       size: 15px
@media only screen and (max-width: 768px)
  .header-nav




  .header-info
     &__block__section






  .main_block
    flex-direction: column


