%color-text
  color: #fff

=btn
  font:
    style: normal
    weight: 400
  display: block
  border-radius: 4px
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset
  text-decoration: none
  flex-shrink: 0
  text-transform: uppercase





header
  background: url("../img/uber_bg.png")
    position: 50% 50%
    size: cover
  height: 799px

.header-nav
  padding: 20px 0
  background: #212121

  .nav-link
    font:
      family: Roboto
      size: 15px
      style: normal
      weight: 300
    line-height: 15px
    @extend %color-text

.header-info
  background: rgba(1, 1, 1, 16.1%)

  .block__elem1__span
    font:
      family: Roboto
      size: 13px
      style: normal
      weight: 100
    line-height: 68px
    @extend %color-text

  .block__elem2__span
    font:
      family: Roboto
      size: 12px
      style: normal
      weight: 300
    line-height: 14px
    @extend %color-text

  .block__elem2__number
    font:
      family: Roboto
      size: 22px
      style: normal
      weight: 400

    /* 309.091% */
    text-transform: uppercase
    @extend %color-text

  .block__elem3__a
    +btn
    @extend %color-text
    width: 172px
    height: 46px
    font:
      size: 14px
    line-height: 46px
/* 328.571% */

.header-logo
  .header-logo__h1
    font:
      family: Roboto
      size: 60px
      style: normal
      weight: 900
    line-height: 40px
    text-transform: uppercase
    @extend %color-text

  .header-logo__h2
    font:
      family: Roboto
      size: 36px
      style: normal
      weight: 700
    height: 48px
    text-transform: uppercase
    @extend %color-text

  .header-logo__p_text
    font:
      family: Roboto
      size: 18px
      style: normal
      weight: 400
    line-height: 24px
    @extend %color-text

  .header-logo__info
    font:
      family: Roboto
      size: 18px
      style: normal
      weight: 400
    line-height: 24px
    @extend %color-text

  .header-logo__a
    +btn
    @extend %color-text
    width: 259px
    height: 63px
    font:
      size: 18px
    line-height: 63px
