@import 'fonts.sass'


// Group selector//
%color-text
  color: #fff
$basic_color: #202020
$basic_font:  17px
$basic_style: normal
$basic_font_p: 15px
$basic_color_span:#1EACC7
$basic_line-height:21px
$basic_family: Roboto-R
$basic_weight_span:400
$basic_weight_p:300

=btn
  font:
    family: Roboto-R
    style: normal
    weight: 400
  display: block
  border-radius: 4px
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset
  text-decoration: none
  flex-shrink: 0
  text-transform: uppercase
  padding: 0 7px
%span
  line-height: $basic_line-height
  font-style: $basic_style
  font-family: $basic_family
  font-weight: $basic_weight_span
%main_p
  line-height: $basic_line-height
  font-style: $basic_style
  font-family: $basic_family
  font-weight: $basic_weight_p
%mobil
  color: #222
  text-align: center
  font-size: 37px
  font-style: normal
  font-weight: 700
  line-height: 48px /* 126.316% */
  text-transform: uppercase

%main_span
  color: #FFF
  text-align: center
  font-size: 11px
  font-style: normal
  font-weight: 400
  line-height: 11px /* 100% */
  text-transform: uppercase

%main_article
  margin-top: 26px
  margin-bottom: 33px
  width: 113px
  height: 23px
  background: #202020


// Header//
header
  background: url("../img/uber_bg.png")
    position: 50% 50%
    size: cover
  height: 799px
.header-nav
  background: #212121
  .navbar-nav
    .nav-item
      display: flex
      align-items: center
      padding-right: 30px
      height: 31px
      border-right: 2px dashed #000
  .navbar-dark .navbar-nav .nav-link
    color: white
  .bg-dark
    background: #212121!important
  .navbar
    padding: 20px 0
    justify-content: end
  .bg-light
    background: #212121!important
  .navbar-light .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover
    color: snow
  .navbar-dark .navbar-nav .nav-link
    padding: 0
    font:
     family: Roboto-R
     size: 15px
     style: normal
     weight: 300
    line-height: 15px
    @extend %color-text

.header-info
  .header-info__section
    height: 87px
  background: rgba(1, 1, 1, 16.1%)

  .block__elem1__span
    padding: 0
    font:
      family: Roboto-R
      size: 13px
      style: normal
      weight: 100
    @extend %color-text
  .block__elem2__span
    font:
      family: Roboto-R
      size: 12px
      style: normal
      weight: 300
    line-height: 14px
    @extend %color-text

  .block__elem2__number
    font:
      family: Roboto-R
      size: 22px
      style: normal
      weight: 400

    /* 309.091% */
    text-transform: uppercase
    @extend %color-text

  .block__elem3__a
    +btn
    @extend %color-text
    height: 46px
    font:
      size: 14px
    line-height: 46px
/* 328.571% */
.header-logo
  margin-top: 49px
  .header-logo_section__article
    top: 200px
    left: 514px
  &__h1
    margin: 0 0 16px
    font:
      family: Roboto-R
      size: 60px
      style: normal
      weight: 900
    text-transform: uppercase
    @extend %color-text

  &__h2
    margin: 0
    font:
      family: Roboto-R
      size: 36px
      style: normal
      weight: 700
    height: 48px
    text-transform: uppercase
    @extend %color-text

  &__p_text
    margin: 0
    font:
      family: Roboto-R
      size: 18px
      style: normal
      weight: 400
    line-height: 24px
    @extend %color-text

  &__info
    margin: 0
    font:
      family: Roboto-R
      size: 18px
      style: normal
      weight: 400
    line-height: 24px
    @extend %color-text

  &__a
    +btn
    @extend %color-text
    width: 259px
    height: 63px
    font:
      size: 18px
    line-height: 63px
// Main//
main

 .main_span
   margin: 0
   @extend %main_span
 .main_h2
    margin-bottom: 27px
    @extend %mobil
 .main_reasons-to-work
   .main_block_article1
     @extend %main_article
   .main_block_figure_elem1
     background: url("../img/Эллипс.png")
       position: center
       repeat: no-repeat
       size: contain
   .main_block_figure_elem2
     background: url("../img/Эллипс (0).png")
       position: center
       repeat: no-repeat
       size: contain
   .picture
     height: 116px
   .main_reasons-to-work__span
     color: $basic_color_span
     font-size: $basic_font
     @extend %span
   .main_reasons-to-work__p
     color: #202020
     font-size: $basic_font_p

     @extend %main_p
.main_uber-mobile-app
 .card
   border-radius: 0
 .main_uber-mobile-app__article1
   background: #000
   width: 112px
   height: 24px
   margin-top: 45px
   margin-bottom: 26px
 .main_uber-mobile-app__h3
   margin: 0
   color: #FFF
   font:
    family: Roboto
    size: 11px
    style: normal
    weight: 400
   line-height: 11px /* 100% */
   text-transform: uppercase

 .main_uber-mobile-app__p
   color: #222
   font:
    family: Roboto
    size: 17px
    style: normal
    weight: 400
   line-height: 21px /* 123.529% */

 .main_block__elem2
   .main_block__elem2__section
     .main_block__elem2__section__article
       margin-right: 140px
     .main_block_elem3_h2
       color: #FFF
       font:
        family: Roboto
        size: 24px
        style: normal
        weight: 400
       line-height: 31px /* 129.167% */
       text-transform: uppercase
 .main_block_elem4
  background: url("../img/Карточка 1 (1).png")
    position: center
  height: 280px
 .main_block_elem3
  background: url("../img/Карточка 1 (1).png")
    position: center
  height: 280px
 .main_block_elem5
  background: url("../img/Карточка 3.png")
    position: center
  height: 280px
 .main_block_elem6
  background: url("../img/Карточка 4.png")
    position: center
  height: 280px
 .main_block_elem7
  background: url("../img/Карточка 5.png")
    position: center
  height: 280px
 .main_block_elem8
  background: url("../img/Карточка 6.png")
    position: center
  height: 280px
  img
    height: 29px
    width: 29px
h2
  color: #fff
  font:
    family: Roboto-R
    size: 24px
    style: normal
    weight: 400
  line-height: 31px /* 129.167% */
  text-transform: uppercase

.main_uber-mobile-app
  background: url("../img/mobile_bg (1).png")
.main_choice
  &_black
    background: url("../img/Темная подложка (1).png")
      position: 100%
      repeat: no-repeat
      size: cover
    height: 502px
  &_cell
    background: url("../img/Подложка (2).png")
      position: 100%
      repeat: no-repeat
      size: cover
    height: 397px
  &__img
    height: 480px
  &__figure
   z-index: 12
   top: 50%
   left: 50%
   margin-left: -300px
   margin-top: -240px
  &_elem1
    z-index: 12
  .main_choice_article
      margin-top: 26px
      margin-bottom: 27px
      flex-direction: column
      justify-content: center
      background: #fff
      width: 115px
      height: 25px
  .main_choice_h4
      margin: 0
      color: #070716
      font:
       family: Roboto-R
       size: 11px
       style: normal
       weight: 400
      line-height: 11px /* 100% */
      text-transform: uppercase
  .main_choice_h2
      margin-bottom: 0
      color: #FFF
      font:
       family: Roboto
       size: 38px
       style: normal
       weight: 700
      line-height: 48px /* 126.316% */
      text-transform: uppercase
  .main_choice_p_elem1
      margin-top: 0
      margin-bottom: 50px
      color: #FFF
      font:
       family: Roboto-R
       size: 17px
       style: normal
       weight: 400
      line-height: 21px
.main_conditions
  .main__h2
    color: #222
    line-height: 48px /* 126.316% */
    text-transform: uppercase
    font:
      family: Roboto-R
      size: 38px
      style: normal
      weight: 700
  .main_block_article1
    background: #000
    width: 112px
    height: 24px
    margin-top: 45px
    margin-bottom: 26px
  .main_conditions__h2
    margin: 0
    color: #FFF
    font:
     family: Roboto
     size: 11px
     style: normal
     weight: 400
    line-height: 11px
    text-transform: uppercase
  &__h3
    color: #1CA8C3
    font:
      family: Roboto-R
      size: 22px
      style: normal
      weight: 400
  &__h4
    color: #1CA8C3
    font:
      family: Roboto-R
      size: 17px
      style: normal
      weight: 300

  .main_conditions__section__h3
    color: #FF5656
    font:
      family: Roboto-R
      size: 22px
      style: normal
      weight: 400

  &__ul__elem1
    color: #222
    font:
     family: Roboto
     size: 17px
     style: normal
     weight: 300
    line-height: 24px
    img
     height: 21px
     width: 20px

  &__ul__elem2
    color: #222
    font:
      family: Roboto
      size: 17px
      style: normal
      weight: 300
    line-height: 24px
    img
      height: 21px
      width: 20px
.main_world
  background: url("../img/world_bg.png")
  height: 716px

  .main_world_article1
    background: #fff
    width: 75px
    height: 25px
    margin-top: 45px
    margin-bottom: 26px
  .main_world__span
    margin: 0
    color: #202020
    text-transform: uppercase
    font:
      weight: 400
      size: 11px
      style: normal
      family: Roboto-R
  .main_world__p
    color: #FFF
    font:
      family: Roboto-R
      size: 17px
      style: normal
      weight: 400
  .main_world__h2
    color: #FFF
    font:
     family: Roboto
     style: normal
     weight: 700
    line-height: 48px /* 126.316% */
    text-transform: uppercase
  .main_world__elem2
    .main_world__h4
      margin: 0
      color: #1FBAD6
      text-transform: uppercase
      font:
        family: Roboto-R
        size: 15px
        style: normal
        weight:  400
.main_world__section
  height: 700px
.footer_section
  figure
    margin: 17px
  .footer__section
    position: absolute
    top: 49px
    right: 24px
  &_elem1
    position: absolute
    top: 49px
    left: 24px
  &__figure
    background: url("../img/Разделитель (1).png")
    width: 300px
    height: 7px
  &__ul
    width: 100%
    list-style-type: none
    .footer_section__ul__elem1__a
      color: #070716
      font:
        family: Roboto-R
        size: 15px
        style: normal
        weight: 300
      text-transform: uppercase
    .footer_section__ul__elem2__a
      color: #999
      font:
        family: Roboto-R
        size: 11px
        style: normal
        weight: 300
      text-transform: uppercase
    .footer_section__ul__elem3__a
      color: #1FBAD6
      font:
        family: Roboto-R
        size: 11px
        style: normal
        weight: 400
      text-transform: uppercase
@media only screen and (max-width: 1024px)
  .header-logo
    .header-logo_section__article
      left: 410px
  .main_uber-mobile-app
   .main_block__elem2
    .main_block__elem2__section
     .main_block__elem2__section__article
       margin-right: 54px
       margin-left: 0
     .main_block_elem5
       margin-right: 54px
@media only screen and (max-width: 1200px)
  .header-logo
    &__h1
      font:
        size: 32px
    &__h2

      font:
        size: 25px
    &__p_text
      line-height: normal
      font:
        size: 22px
    &__info
      line-height: normal
      font:
        size: 22px
  .header-nav
   .navbar-nav
    .nav-item
      padding-right: 6px

@media only screen and (max-width: 992px)
  .header-nav
    .navbar-nav
     .nav-item
       border: none
    .navbar-light .navbar-nav .nav-link
      padding: 12px
    .navbar-nav
      align-items: flex-end
  .header-info
    .header-info__section
      height: 68px
    .block__elem2__number
      font-size: 12px
    .block__elem3__a
      line-height: 22px
      height: 22px
      font:
        size: 10px
    .header-info__section_elem
      flex-direction: column
    &__section
      display: flex
      justify-content: flex-end
    &__block__section
      flex-direction: column
      justify-content: flex-end
    .block__elem3
      justify-content: flex-end
    &__elem2__number
      font:
        size: 19px
    &__elem2__span
      font:
        size: 11px
    &__elem3__a
      line-height: 22px
      width: 104.876px
      height: 22px
      font:
        size: 10px
    &__elem3
      justify-content: flex-end
      margin-bottom: 12px
      margin-top: 5px

  .header-logo
    .header-logo_section__article

      left: 255px
    &__a
     width: 200px
     height: 50px
     font-size: 16px
     line-height: 50px
    .row
     display: flex
     justify-content: center
    &__h1
     line-height: normal
     font:
      size: 30px
      weight: 900
    &__h2
     line-height: normal
     font:
      size: 20px
      weight: 700
    &__p_text
     line-height: normal
     font:
      size: 15px
    &__info
      font:
       size: 15px

  .main_choice
    &__img
     height: 370px
    .main_choice__figure
     margin-left: -296px
     margin-top: -139px
     left: 50%
    .main_choice_p_elem2
      bottom: 425px
      color: #fff
  .main_reasons-to-work
    .main_h2
     font-size: 16px
     line-height: 16px
main .main_reasons-to-work .main_reasons-to-work__span
      font-size: 16px
main .main_reasons-to-work .picture
      height: 100px

.main_uber-mobile-app__p
   font-size: 14px
.main_block_elem3_h2
  font-size: 18px
.main_h2
  font-size: 16px
  line-height: 16px
.main_world__elem2
  justify-content: center
.main_choice_black
  height: 393px
.footer_section__ul
  justify-content: space-between
@media only screen and (max-width: 768px)
  .header-logo
    .header-logo_section__article
      left: 182px

  .main_conditions
   .main_h2
     font-size: 16px
   .main_conditions__h4
     font-size: 14px
   .main_conditions__h3
     font-size: 16px
   .main_conditions__section__h3
     font-size: 16px
   .main_conditions__ul__elem1
     font-size: 14px
  .main_world
    height: 360px
  main .main_world__section
    justify-content: space-around!important
    height: 360px
  .main_world__h2
    font-size: 16px
  .main_world .main_world__p
    font-size: 14px
  .main_block
    flex-direction: column
  .main_choice
    &__img
      height: 230px
    .main_choice__figure
      margin-left: -185px
      margin-top: -88px
      left: 50%


  .footer_section_elem1
    display: block
    position: static
    width: 30%
    margin: auto
    margin-bottom: 12px
  .footer_section .footer__section
    position: static
    display: block
    margin: auto
    width: 50%

  .footer_section__ul
    display: flex
    justify-content: space-around!important

  .footer_section__ul .footer_section__ul__elem2__a
    font-size: 11px
  .footer_section__ul .footer_section__ul__elem1__a
    font-size: 11px
@media only screen and (max-width: 540px)
  .header-logo
    .header-logo_section__article
      left: 104px
